Xft*antialias: true
Xft*hinting: true
Xft*hintstyle: hintfull

xterm*termName: xterm-256color
xterm*dynamicColors: true
xterm*faceName: Monaco
xterm*faceSize: 14
xterm*background: #121212
xterm*foreground: gray

